#contained{
  width: 640px;
  height: auto;
}
.small-tile{
  width: 140px;
  height: 140px;
  margin: 1px;
}
.medium-tile{
  width: 290px;
  height: 300px;
  margin: 1px;
  }
.large-tile{
  width: 450px;
  height: 290px;
  margin:1px;
}
.info-tile{
  width: 140px;
  height: 290px;
  margin: 1px;
}

#red{
   background: #8b0000;
}
#green{
  background: #006400;
}
#blue{
  background:#00008b ;
}
#yellow{
  background:#9acd32 ;
}
#brown{
  background:#d2b48c ;
}
#purple{
  background:#800080 ;
}
#orange{
  background: #ff4500 ;
}


